@font-face {
  font-family: 'Intro';
  src: url('Intro.eot');
  src: url('Intro.eot?#iefix') format('embedded-opentype'),
       url('Intro.woff') format('woff'),
       url('Intro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

